@import "tailwindcss";

@theme {
    --color-gray:#F5F5F5;
    --color-secondary:#FC4308;
    --color-black50: rgb(62,50,50,0.5);
    --color-black75: rgb(62,50,50,0.75);
    --color-black: #3E3232;
    --color-primary:#F81539;

}
.my-icon{
    @apply rounded-xl w-12 h-12
}
.paragraph{
    @apply text-sm text-black75
}
.h4{
    @apply font-medium text-xl text-black
    
}
